[Unit]
Description=Run Homebrew update daily

[Timer]
OnCalendar=*-*-* 02:00:00 UTC
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
