{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- $name := "Your Name" -}}
{{- /* If name was previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else if (env "GIT_CONFIG_USER_NAME") -}}
{{-   $name = env "GIT_CONFIG_USER_NAME" -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" $name -}}
{{- end -}}

{{- $email := "email@example.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if (env "GIT_CONFIG_USER_EMAIL") -}}
{{-   $email = env "GIT_CONFIG_USER_EMAIL" -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- $signingkey := "" -}}
{{- if hasKey . "signingkey" -}}
{{-   $signingkey = .signingkey -}}
{{- else if $interactive -}}
{{-   $signingkey = promptString "signing key" -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your data with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
name = "{{ $name }}"
email = "{{ $email }}"
signingkey = "{{ $signingkey }}"
