#!/usr/bin/env bash

# Brewfile hash: {{ include "Brewfile" | sha256sum }}

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
brew bundle --file={{ joinPath .chezmoi.sourceDir "Brewfile" | quote }}
