OPENCODE_ENABLE_EXA=1
OPENROUTER_API_KEY={{ onepasswordRead "op://vault/item/field" }}
OPENCODE_API_KEY={{ onepasswordRead "op://vault/item/field" }}
OPENCODE_GO_API_KEY={{ onepasswordRead "op://vault/item/field" }}
